# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & build output
node_modules/
dist/
dist-ssr/

# Environment files
.env
.env.*
!.env.local
.streamlit/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Conda / Python
.conda/
*.conda
__pycache__/
*.py[cod]
*$py.class
